//Colors
$Dark: #000;
$Light: #FFF;
$DarkGrey: #6A6A6A;
$LightGrey: #E7E7E7;

//Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85em; // 1366 - 1920px
$bp-xlarge: 121em; // < 1920px