@import "mixins";
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App > * {
  @include sideSpace;
}
.App{
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}

.blogLink {
  display: block;
  text-align: center;
  margin: 2rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: underline;

}
.copyright{
  color: $LightGrey;
  text-align: center;
  margin-top: auto;
}

.error{
  color: #d62323;
  text-align: center;
}
.message{
  color: #058f00;
  text-align: center;
}