@import "../../styles/mixins";
@import "../../styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    .button {
      @include button;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 10rem;
      img {
        height: 2rem;
      }
    }
  }

  .avatar {
    align-self: center;
    border: 2px solid $DarkGrey;
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
  }

  .information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    .stats {
      display: flex;
      gap: 1rem;
      justify-content: center;
    }
  }
}

// @media (min-width: $bp-medium) {
//   .container {
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(3, auto);
//     .buttons {
//       grid-column: span 2;
//     }
//     .avatar {
//       grid-column: 1/2;
//     }
//     .statistics {
//       grid-column: 2/3;
//     }

//     .information {
//       grid-column: 3/4;
//     }
//   }
// }
